<header class="header">
  <div class="header__inner">
    <div class="header__logo-item">
      <a href="/index.html"><img class="header__logo" src="/img/header__logo.png" alt="ヘッダーロゴ" /></a>
    </div>
    <div class="menu-toggle">☰</div>

    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a href="http://">About</a>
        </li>

        <li class="header__item">
          <a href="/html/contact.html">お問い合わせ</a>
        </li>

        <li class="header__item">
          <a href="http://">リンク</a>
        </li>
      </ul>
    </nav>
  </div>
</header>